@font-face {
  font-family: DMSans;
  src: url('../fonts/DMSans-Regular.ttf');
}

@font-face {
  font-family: 'DMSans_Bold';
  src: url('../fonts/DMSans-Bold.ttf');
}

@font-face {
  font-family: Mulish;
  src: url('../fonts/Mulish-Regular.ttf');
}
