.button-start {
  border: 0px;
  border-radius: 10px;
  width: 211px;
  height: 60px;
  font-family: "DMSans";
  font-size: 17px;
  background-color: #5454d4;
  color: #fff;
  transition: background 0.2s;
  position: relative;
}

.button-start:hover {
  background-color: #ff7143;
}

.down-button {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  border: 1px solid #E7E7E7;
  background-color: white;
  transition: background 0.3s;
}

.wrapper__link-button {
  font-family: DMSans;
  font-size: 15px;
  color: #696871;
  text-decoration: none;
  position: relative;
  transition: top 0.5s;
  top: 0px;
  border: 0px solid black;
  margin-bottom: 10px;
}

.menu__wrapper:hover > .wrapper__link-button {
  color: #19191B;
}

.learn-link-button {
  font-family: "DMSans";
  font-size: 17px;
  color: #5454D4;
  text-decoration: none;
  line-height: 20px;
}

.buttons__wrapper__monthly,
.buttons__wrapper__yearly {
  min-width: 160px;
  min-height: 55px;
  background: inherit;
  border-radius: 10px 0px 0px 10px;
  border: 0;
  color: #19191B;
  font-family: 'DMSans';
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  transition: background 0.2s;
  cursor: pointer;
}

.buttons__wrapper__monthly {
  background-color: inherit;
  border-radius: 0px 10px 10px 0px;
}

.buttons__wrapper__monthly:hover,
.buttons__wrapper__yearly:hover {
  background-color: #5454D4;
  color: white;
}

.down-button:hover
{
  background-color: #eeeeee;
}

.learn-link-button:hover {
  color: #532c72;
}



