header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 100px;
}

.header__menu
{
    position: relative;
    transition: top 1s;
    top: 0px;
}

@media screen and (max-width: 1050px){
    .header__menu {
      top: -60px;
      position: absolute;
    }

}

@media screen and (max-width: 650px){
    .header__button {
      display: none;
    }
    header
    {
        justify-content: center;
    }

}

