header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 100px;
}

.header__menu {
  display: flex;
  justify-content: center;
  position: relative;
  transition: top 1s;
  top: 0px;
  gap: 50px;
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper__line {
  max-height: 2px;
  min-height: 2px;
  background-color: inherit;
}

.menu__wrapper:hover > .wrapper__line {
  background-color: #5454d4;
}

@media screen and (max-width: 1050px) {
  .header__menu {
    top: -60px;
    position: absolute;
  }
}

@media screen and (max-width: 650px) {
  .header__button {
    display: none;
  }
  
  header {
    justify-content: center;
  }
}
