.main__landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.main-landing__wrapper {
  height: min-content;
  margin-right: 77px;
}

.main-landing__wrapper-small {
  height: min-content;
}

.wrapper__title {
  font-size: 80px;
  max-width: 462px;
  margin: 0px;
  margin-bottom: 30px;
}

.wrapper__title-2 {
  margin-bottom: 30px;
}

.wrapper__text {
  max-width: 460px;
  margin: 0;
  margin-bottom: 50px;
  color: #696871;
}

.main-landing__img {
  width: 580px;
}

.main-landing__img-small {
  width: 348px;
}

.wrapper__buttons {
  display: flex;
  justify-content: start;
}

.wrapper__buttons__start {
  margin-right: 40px;
}

.main__partners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

@media screen and (max-width: 1000px) {
  .main-landing__img-small {
    order: 0;
    width: 100%;
  }

  .main-landing__img {
    order: 0;
    width: 100%;
  }

  .main-landing__wrapper {
    order: 1;
  }

  .main-landing__wrapper-small {
    order: 1;
  }

  .main__landing {
    flex-direction: column;
  }
}

@media screen and (min-width: 1441px) {
  .main-landing__img-small {
    width: 35%;
  }
  
  .main-landing__img {
    width: 60%;
  }
}
