.main__landing-price
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 100px;
}

.landing-price__prices
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prices__section
{
    
    border: 0;
    border-radius: 10px;
    background: #F8F8F8;
    width: min-content;
    min-width: 330px;
    min-height: 441px;
    margin: 0;
    padding: 0;
    color: #1D293F;
    margin-right: 1.5%;
    margin-bottom: 30px;
}

.landing-price__title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.section__wrapper__title-two
{
    display: flex;
    justify-content: center;
}
.title-two__two
{
    font-size: 28px;
    line-height: 43px;
    margin: 0;
    align-self: self-end;
}
.section__wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-width: 330px;
    min-height: 441px;
    color: inherit;
    transition: margin 0.5s;
    margin: 0;
}

.section__wrapper__text
{
    font-family: DMSans;
    font-size: 18px;
    color: #696871;
    line-height: 50px;
    text-align: center;
    margin: 0;
}
.title-two__one,
.section__wrapper__title
{
    font-family: 'DMSans';
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    margin: 0;
}

.section__wrapper__button
{
    background: #FFFFFF;
    color: #5454D4;
}
.landing-price__title__text
{
    line-height: 70px;
    color: #19191B;
}

.landing-price__title__buttons
{
    border: 0;
    border-radius: 10px;
    padding: 5px;
    background-color: #F7F7FB;
    width: max-content;
    height: min-content;
}

.buttons__wrapper
{
    display: flex;
    justify-content: center;
}




.section__wrapper:hover>.section__wrapper__title,
.section__wrapper:hover>.section__wrapper__title-two,
.section__wrapper:hover>.section__wrapper__text,
.section__wrapper__button:hover
{
    color: white;
}

.prices__section:hover
{
    background-color: #FF7143;
    
}
.section__wrapper__button:hover
{
    background-color: #9F3919;
}
@media screen and (max-width:1000px) {
    .landing-price__prices
    {
        flex-direction: column;
    }

    .landing-price__title
    {
        flex-direction: column;
    }
}
